body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f4f9;
}

.dashboard {
    display: flex;
}

.sidebar {
    width: 220px;
    background: #1f2d3d;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

h1, h2,or h3 {
    color: #1f2d3d;
}

.top-header {
    background: white;
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

.summary {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    width: 180px;
}

.login-box {
    padding: 20px;
}

.login-box input[type="password"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

#login {
    margin-top: 10px;
}

.login-box button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
}

.login-box button:active {
    background: #0056b3;
}

.transactions {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

tr:hover {
    background: #eaf4ff;
}

.credit {
    color: green;
}

.debit {
    color: red;
}

footer {
    text-align: center;
    background: #1f2d3d;
    color: white;
    padding: 15px;
}
